*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: auto;
}
body{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
h1{
    padding: 10px;
}
table{
    border-collapse: collapse; /* Para mesclar bordas adjacentes */
    width: 100%;
    padding: 8px 0;
    border: solid 1px#000;
}
td{
    padding: 5px;
    border-bottom: solid 1px#000;
}
.theDay{
    padding: 8px;
    background-color: #f2f2f2;
    text-align: center;
    margin: 15px 0;
    border: solid 1px#000;
}